.cta-background, .black-background{
    background-color: rgba(165, 147, 99, .4);
    padding: 40px;
}

.cta-tight-width-whitespace {
    max-width: 472px;
    margin: auto;
}

.tc-white {
    font-weight: bolder;
}

.quotes {
    font-style: italic;
}

li {
    list-style: none;
}

#map {
    height: 400px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texture-paper::before {
    opacity: 1.7;
}

p {
    font-size: 16px;
}

.portfolio-thumb {
    width: 270px;
    height: 270px;
}

.color-title {
    color: rgb(214, 98, 44);
}

@media (max-width: 767px) {
    .img-responsive {
        margin-left: auto;
        margin-right: auto;
    }

    .portfolio-row {
        margin-top: 0;
        margin-bottom: 0;
    }

    .portfolio-row > .col-sm-6 {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #map.col-sm-6 {
        width: 100%;
    }
}